@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;1000&display=swap');
/* font-family: 'Nunito', sans-serif; */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {margin: 0;padding: 0;border: 0;font-family: 'Nunito', sans-serif;font-size: 100%;font-weight: normal;vertical-align: top;background: transparent;}
article, aside, figure, footer, header, nav, section, details, summary {display: block;}
html {-webkit-box-sizing: border-box;box-sizing: border-box;scroll-behavior: smooth;}

*,*:before,*:after {-webkit-box-sizing: inherit;box-sizing: inherit;}
img {max-width: 100%;height: auto;}
ul {list-style: none;}
a {margin: 0;padding: 0;font-size: 100%;text-decoration: none;vertical-align: baseline;background: transparent;}
a:focus, a:hover {font-size: 100%;text-decoration: none;vertical-align: baseline;background: transparent;}
hr {display: block;height: 1px;border: 0;border-top: 2px solid #000;margin: 0;padding: 0;}
input, select {vertical-align: middle;}
input, label, textarea, select, input, option, button {outline: none;}
.form-group{margin-bottom: 16px;}

/* Comman classes */
.title{display: flex;justify-content: space-between;align-items: center;margin:0 0 20px;padding:10px 0;width: 100%;}
.title h3{display: inline-block;font-size: 26px;font-weight:500;margin: 0;}
.title .add_btn{display: inline;text-decoration: none;border:1px solid #000;line-height: 1;padding:10px 12px;}

h4.form_sub_title{display: block;width: 100%;margin: 20px 0;font-size: 20px;font-weight: 500;border-bottom: 2px solid #000;}
.lab_space{display: inline-block;margin:0;padding: 0;font-size: 18px;font-weight: 400;text-transform: capitalize;}
a.form_btn{text-decoration: none;display:inline-block;width: auto; margin:27px 0px 0px;padding:0 26px; border: 1px solid #000; border-radius:4px; text-align: center; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;cursor: pointer;font-size: 18px;font-weight: 500;color: #000;}
a.form_btn:hover{text-decoration: none;}
span.form_sub_btn{ display: inline-block; border:2px solid #000;border-radius: 4px;padding:6px 12px;margin: 0 0 0 5px;}
span.form_sub_btn:hover{border-color: #03f4e0;}
span.form_sub_btn:hover i{color: #03f4e0;}
span.form_sub_btn i{line-height: 1.5;color: #000;}

/* Login Resigter Page */
#app.login_register_header{display: block;width: 100%;margin: 0;padding: 0;background:linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));}
#app.login_register_header nav.navbar{display: block;width: 100%;margin: 0;padding:10px;}
#app.login_register_header a.log_register_logo{text-decoration: none;padding: 0;}
#app.login_register_header a.log_register_logo{display: block;width: 200px !important;height: auto;}
#app.login_register_header a.log_register_logo img{max-width:100%;height: auto;}
#app.login_register_header .log_register_menus{display: flex;justify-content: flex-end !important;align-items:flex-end;}
#app.login_register_header .log_register_menus ul{gap:24px;list-style: none;}
#app.login_register_header .log_register_menus ul li a{text-decoration:none;padding:0 !important;font-size:18px;font-weight: 500;color:#000;}
#app.login_register_header .log_register_menus ul li a i{display: inline;padding-right:6px;vertical-align: middle;}

/* Header */
.header{display: block;width: 100%;padding: 0;margin: 0;background-color: #84fab0;background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));}
.header .navbar{width: 100%;padding:10px 20px;margin:0;}
.header .navbar a.logo_div{display: block;width: 200px !important;height: auto;text-decoration: none;padding: 0;}
.header .navbar a.logo_div img.logo{max-width:100%;height:auto;}
.header .navbar .menus{justify-content: space-between;align-items: center;}
.header .navbar .menus ul.navbar-nav{display: flex;justify-content: space-between;align-items: center;list-style: none;}
.header .navbar .menus ul li.nav-item{display: inline-block;padding: 0 20px 0 20px;}
.header .navbar .menus ul li.nav-item a.nav-link{text-decoration:none;padding:0 !important;font-size:16px;color: #000;}
.header .navbar .menus ul li.nav-item a.nav-link i{display: inline;padding-right:6px;vertical-align: middle;}

.dashboard{display: block;width: 100%;padding: 0;margin: 0;}
.dashboard .dash_table{display: block;width: 100%;padding-bottom: 10px;}
.dashboard .dash_table h2{display: block;width: 100%;padding: 0;margin: 0;font-size:30px;font-weight: 600;font-family: 'Nunito', sans-serif;}
.dashboard  h2.sub-header{display: block;width: 100%;padding:0;margin:0 0 10px;font-size:25px;font-weight:500;font-family: 'Nunito', sans-serif;color: #000;}
.dashboard table tr th{font-size: 18px;font-weight: 500;}
.dashboard table tr td{font-size: 16px;font-weight: 400;}

/* Footer */
.footer{display: flex;justify-content: center;align-items: center;width: 100%;position: relative;background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));}
.footer .footer-area{display: block;width: 100%;padding:10px;}

/* Login/Register */
.box{display: block;width: 100%;position: relative;}
.box .login-box {display: block;margin: 50px auto;width:550px;padding:20px 40px;background: rgba(0,0,0,.5);box-sizing: border-box;box-shadow: 0 15px 25px rgba(0,0,0,.6);border-radius: 10px;}
.box .login-box h2 {display: block;width: 100%;text-align: center;font-size: 30px;font-weight: 500;margin: 0 0;padding:10px 0;color: #fff;}
.box .login-box .user-box {display:block;position: relative;width: 100%;margin:0 0 10px;padding: 0;}
.box .login-box .user-box input{width: 100%;margin: 0 0 30px; padding:2px 0;font-size: 18px;color: #fff;border:0px solid #fff;border-bottom:1px solid #fff;outline: none;background: transparent;cursor: pointer;}
.box .login-box .user-box label{display: block;width: 100%;font-size: 18px;position: absolute;top:0px !important;left: 0;color: #fff;transition: .5s;
  -webkit-transition: .5s;-moz-transition: .5s;-ms-transition: .5s;-o-transition: .5s;}
.box .login-box .user-box input:hover,
.box .login-box .user-box input:focus,
.box .login-box .user-box input:focus-visible,
.box .login-box .user-box input:focus-within{outline: none;border-bottom:2px solid #fff;}
.box .login-box .user-box input:hover ~ label,
.box .login-box .user-box input:focus ~ label,
.box .login-box .user-box input:valid ~ label {top:-20px !important;left: 0;color: #03e9f4;font-size: 16px;}
.box .login-box .error{display: block;font-size:18px;}
.box .login-box .submit_btn{position: relative;display:block;padding:10px 20px;color: #000;font-size:18px;font-weight:600;text-decoration: none;text-transform:capitalize;overflow: hidden; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;cursor: pointer;}
.box .login-box .submit_btn:hover{background:linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));color: #000;}

.dropdown-menu{
  /* position: relative; */
  -webkit-appearance: none;
  /* background: rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5) !important; */
  z-index:1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.nav-item .submenu{
    display: none;
    position: absolute;
    left:100%; top:-7px;
}
.nav-item .submenu-left{
    right:100%; left:auto;
}
.dropdown-menu > li:hover{ background-color: rgba(143, 211, 244, 0.5) }
.dropdown-menu > li:hover > .submenu{ display: block; }

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

  /* @media (max-width: 991px) {
      .dropdown-menu .dropdown-menu{
          margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
      }
  } */

  .card-header{
    /* color: #fff; */
    position: relative;
    font-size: 25px;
  }

tbody, tfoot, tr {
    /* color: white; */
    border-color: black;
}

table th{
    color: black;
    font: bold;
}
a{
  color: black;
  text-decoration: none;
}
.checkboxes {
  text-align:center;
}

.checkboxes input{
  margin: 0px 0px 0px 0px;
}

.checkboxes label{
  margin: 0px 20px 0px 3px;
}

.btn_tile{
  background: #03f4e0;
  /* top: 35px; */
}
.plus_btn{
  position: relative;
  top: -1px;
  left: auto;

}
thead{
  font-size: 14px;
}


