
@media only screen and (max-width: 991px)  {
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {display: block;}
		/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {position: absolute;top: -9999px;left: -9999px;}
    tr {margin: 0 0 1rem 0;}
    tr:nth-child(odd) {background: #fff;}
    td {/* Behave  like a "row" */
		border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 50%;text-align: right;}
    td:before {/* Now like a table header */
        position: absolute;/* Top/left values mimic padding */
        top:8px;left: 6px;width:50%;padding-right: 10px;white-space: nowrap; content: attr(data-label);float: left;font-weight: bold;text-transform: uppercase;text-align: left;}

    }
    @media only screen and (max-width: 767px){
        /* Login Form */
        .box{display: block;width: 100%;position: relative;}
        .box .login-box {display: block;width:100%;background: rgba(0,0,0,.5);}
}